[submodule "uniflex_wishrem"]
	path = uniflex_wishrem
	url = https://github.com/danieldUKIM/uniflex_wishrem
	branch = master
[submodule "nodes_ansible"]
	path = nodes_ansible
	url = https://github.com/danieldUKIM/nodes_ansible
	branch = master
